<h3>Edit <%= @location.name %> location</h3>
<br>
<%= render 'form' %><br>

<%= link_to "Delete Location", location_path(@location), method: :delete, data: { confirm: 'Are you certain you want to delete this location?' }, :class => "btn btn-danger center" %>
